.navbar {
  position: fixed;
  width: 100%;
  top: 80px !important; /* Adjust based on your header height */
  left: 0;
  background-color: transparent !important;
  /* Ensure no background color */
  border-top: 2px solid #ffffff;
  backdrop-filter: blur(40px);
  z-index: 100; /* Ensure it stays above other content */
}

.toolbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  /* font-weight: bold; */
  color: inherit;
}
.button:active {
  /* color: blue !important; */
}
